<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Brgy. Delapaz</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="ui grid">
          <div class="six wide column logo-container">
            <span class="logo"><img src="<%= static_path(@conn, "/images/icon.png") %>"></span>
            <p>
              <span class="main">Delapaz</span>
              <span class="sub">Biñan City, Laguna</span>
            </p>
          </div>
          <div class="ten wide column nav-container">
            <nav role="navigation">
              <a href="/" id="nav_home">Home</a>
              <a href="/about" id="nav_about">About</a>
              <a href="/report" id="nav_report">Report</a>
              <a href="/login" id="nav_admin">Admin</a>
              
            </nav>
          </div>
        </div>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <div class="ui grid">
          <div class="sixteen wide column footer-content">
            &copy; Barangay Delapaz, Biñan City, Laguna 2018.
          </div>
        </div>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>

<%
info = get_flash(@conn, :info)
error = get_flash(@conn, :error)
%>
<%= if info do %>
  <script type="text/javascript">
    alertify.set('notifier','position', 'top-left');
    $(function() {
      alertify.success('<i class="close icon"></i><%= info %>')
    });
  </script>
<% end %>
<%= if error do %>
  <script type="text/javascript">
    alertify.set('notifier','position', 'top-left');
    $(function() {
      alertify.error('<i class="close icon"></i><%= error %>')
    });
  </script>
<% end %>

